<div class="main" ng-controller="userController">
    <div class=row>
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">

            <form role=form ng-submit=registrationSubmit() autocomplete="off">
                <center>
                    <div class="form-content animated bounceInUp">
                        <div class=form-group>
                            <input type=text name="firstName" class="form-control input-underline input-lg" placeholder="First Name" ng-model="registration_data.firstName">
                        </div>
                        <div class=form-group>
                            <input type=text name="lastName" class="form-control input-underline input-lg" placeholder="Last Name" ng-model="registration_data.lastName">
                        </div>
                        <div class=form-group>
                            <input type=email name="email" class="form-control input-underline input-lg" placeholder="Email" ng-model="registration_data.email">
                        </div>
                        <div class=form-group>
                            <input type=tel name="mobileNumber" class="form-control input-underline input-lg" placeholder="Mobile Number" ng-model="registration_data.mobileNumber">
                        </div>
                        <div class=form-group>
                            <input type=password name="password1" class="form-control input-underline input-lg" placeholder="Password" ng-model="registration_data.password1">
                        </div>
                        <div class=form-group>
                            <input type=password name="password2" class="form-control input-underline input-lg" placeholder="Confirm Password" ng-model="registration_data.password2">
                        </div>
                    </div>
                    <button type=submit class="animated bounceInDown btn btn-white btn-outline btn-lg btn-rounded">Register</button>
                </center>
            </form>
        </div>
    </div>
</div>